[Unit]
Description=Pi Node CEC
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/pi-node-cec
ExecStart=/usr/bin/node dist/server.js
Restart=on-failure
RestartSec=3
User=pi
Group=video

[Install]
WantedBy=multi-user.target
